<section class="card">
  <!-- done: Link the contents of the card to the painting page using the painting ID -->
  <a href="/painting/{{id}}">
  <!-- done: Create the card header with the painting's title -->
  <header>{{title}}</header>

  <div class="card-body">
    <!-- done: Create the card body with the image of the painting and the name of the artist -->
    <img src="/images/{{filename}}" alt="{{description}}" />
    <p>By: {{artist}}</p>
  </div>
  </a>
</section>