<section class="painting">
  <img src="/images/{{painting.filename}}" alt="{{painting.description}}">
  <div class="painting-details">
    <h3>{{painting.title}}</h3>
    <p>By: {{painting.artist}}</p>
    <!-- TODO: Use the custom method to format the painting.exhibition_date -->
    <p>Exhibition open until: {{ painting.exhibition_date}}</p>
  </div>
</section>